<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body>
  <%- include('../partials/header.ejs')%>
  <!-- <div style="width: 500px;"><canvas id="dimensions"></canvas></div><br/> -->
  <main>
        <h3>Portail de Connexion Client</h3>
        <section id="sectionForm">
            <form method="post" >
                <input type="email" name="email" placeholder="Votre Email"  value="hercule@gmail.com" required/>
                <input type="password" name="password" placeholder="Votre password"  required/>
                <input type="submit" formaction="/connexClient" value="Connexion"/>
            
            </form>
            <a class="bttn" id="bttnAdminForm" href="/connexFormAdmin">Admin</a>

            <!-- if message exit. Display him -->
            <% if(typeof message !== 'undefined'){%>
                <p><%=message%></p>
            <% } %>
        </section>  
    </main>
  <%- include('../partials/footer.ejs')%>
</body>
</html>