<header>
    <div class="waviy">
        <span style="--i:1">K</span>
        <span style="--i:2">o</span>
        <span style="--i:3">t</span>
        <span style="--i:4">K</span>
        <span style="--i:5">o</span>
        <span style="--i:6">t</span>
        <span style="--i:7">B</span>
        <span style="--i:8">a</span>
        <span style="--i:9">n</span>
        <span style="--i:10">k</span>
        <span style="--i:11">.</span>
       </div>
 

    <input class="hamburger" type="checkbox" id="votre_id" tabindex="0">
    <label for="votre_id" aria-label="Menu"><span></span></label>

    <nav>

    <ul>
        <li><a tabindex="0" href="/">Acceuil</a></li>
        <li><a tabindex="0" href="/connexForm">Connexion</a></li>
        <li><a tabindex="0" href="/registerForm">Nouveau Client</a></li>
        <li><a tabindex="0" href="#!">Plus d'Informations</a></li>
       
       
        </ul>

    </nav>
</header>