<section id="menuClient">
    <a href="/dashboard" class="menuButtons"><img src="icons/allInfos.png"class="imgMenuClient"/></a>
    <a href="/infosClient" class="menuButtons"><img src="icons/profil.png"class="imgMenuClient"/></a>
    <a href='/virementForm' class="menuButtons"><img src="icons/operations.png"class="imgMenuClient"/></a>
    <a href="/logout" class="menuButtons"><img src="icons/logout.png"class="imgMenuClient"/></a>
</section>
