<aside>
    <p> Menu </p>
    <a href="/connexFormAdmin">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      DashBoard
    </a>
    <a href="/menuClients">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Menu Clients
    </a>
    <a href="/menuComptes">
      <i class="fa fa-laptop" aria-hidden="true"></i>
      Menu Comptes
    </a>
    <a href="/menuOperations">
      <i class="fa fa-clone" aria-hidden="true"></i>
      Menu Operations
    </a>
    <a href="/logout">
        <i class="fa fa-clone" aria-hidden="true"></i>
        Déconnexion
      </a>
   
  </aside>
  